Repository hemilabs/heminetwork, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hemilabs/dev, @joshuasing, @ClaytonNorthey92, @marcopeereboom

Update database/tbcd/database.go
  database/tbcd/database.go
Owners: @hemilabs/dev, @marcopeereboom

Update database/tbcd/database.go
  database/tbcd/database.go
Owners: @hemilabs/dev, @marcopeereboom

Make Infof into debugf
  service/tbc/crawler.go
Owners: @hemilabs/dev, @marcopeereboom

Remove loud infof
  database/tbcd/database.go
  service/tbc/tbc.go
Owners: @hemilabs/dev, @marcopeereboom

Move loud fork proclamation to debugf
  database/tbcd/level/level.go
Owners: @hemilabs/dev, @marcopeereboom

Remove leftover debug
  service/tbc/crawler.go
Owners: @hemilabs/dev, @marcopeereboom

Update service/tbc/tbc_test.go
  service/tbc/tbc_test.go
Owners: @hemilabs/dev, @marcopeereboom

tbc: nest short err assignments
  service/tbc/tbc.go
Owners: @hemilabs/dev, @marcopeereboom

tbcd/level: nest short err assignments
  database/tbcd/level/level.go
Owners: @hemilabs/dev, @marcopeereboom

tbc: use errors.Is for error comparison
  service/tbc/tbc.go
Owners: @hemilabs/dev, @marcopeereboom

tbc/crawler: nest short err assignments
  service/tbc/crawler.go
Owners: @hemilabs/dev, @marcopeereboom

tbcd/level: deduplicate cbh/lbh assignment
  database/tbcd/level/level.go
Owners: @hemilabs/dev, @marcopeereboom

popmd/wasm: rename unused 'this' param to '_'
  web/popminer/dispatch.go
Owners: @hemilabs/dev, @joshuasing

Add forking detection to TBC (#101)
  api/tbcapi/README.md
  api/tbcapi/tbcapi.go
  cmd/hemictl/hemictl.go
  cmd/tbcd/tbcd.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  go.mod
  service/tbc/crawler.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
  service/tbc/ulimit_linux.go
Owners: @hemilabs/dev, @marcopeereboom, @joshuasing

popm/wasm: improve and tidy up Go code (#144)
  cmd/popmd/popmd.go
  web/Makefile
  web/popminer/api.go
  web/popminer/dispatch.go
  web/popminer/network.go
  web/popminer/network_local.go
  web/popminer/popminer.go
  web/popminer/util.go
  web/www/index.html
  web/www/index.js
  web/www/popminer.js
  web/www/wasm_exec.js
Owners: @hemilabs/dev, @joshuasing

popm/wasm: add wasm-opt target to optimise wasm binary
  web/Makefile
Owners: @hemilabs/dev, @joshuasing

Fix debug print
  service/tbc/tbcfork_test.go
Owners: @hemilabs/dev, @marcopeereboom

popm/wasm: add new @hemilabs/pop-miner NPM package
  web/.gitignore
  web/.prettierignore
  web/.prettierrc
  web/Makefile
  web/eslint.config.mjs
  web/package.json
  web/packages/pop-miner/README.md
  web/packages/pop-miner/package.json
  web/packages/pop-miner/pnpm-lock.yaml
  web/packages/pop-miner/src/browser/index.ts
  web/packages/pop-miner/src/browser/wasm.ts
  web/packages/pop-miner/src/browser/wasm_exec.ts
  web/packages/pop-miner/src/types.ts
  web/packages/pop-miner/tsconfig.json
  web/packages/pop-miner/tsup.config.ts
  web/packages/pop-miner/types.d.ts
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
  web/www/wasm_exec.js
Owners: @hemilabs/dev, @joshuasing

Nominally working utxo indexer governed by hash
  cmd/hemictl/hemictl.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
Owners: @hemilabs/dev, @marcopeereboom

Leave some test failure nuggets for clayton
  service/tbc/rpc_test.go
  service/tbc/tbcfork_test.go
Owners: @hemilabs/dev, @marcopeereboom

Use hemilabs/websocket fork of nhooyr.io/websocket
  go.mod
  go.sum
Owners: @hemilabs/dev

bring back tx indexer
  cmd/hemictl/hemictl.go
  service/tbc/crawler.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
Owners: @hemilabs/dev, @marcopeereboom

Bring back SyncIndexersToHash
  service/tbc/crawler.go
  service/tbc/tbc.go
Owners: @hemilabs/dev, @marcopeereboom

Debug cruft
  service/tbc/tbc.go
Owners: @hemilabs/dev, @marcopeereboom

updated indexing in tests to use best block + hash
  service/tbc/rpc_test.go
  service/tbc/tbcfork_test.go
Owners: @hemilabs/dev, @marcopeereboom

Update database/tbcd/database.go
  database/tbcd/database.go
Owners: @hemilabs/dev, @marcopeereboom

.github/CODEOWNERS:

# This file exists to designate certain reviewers for certain areas of the
# repository. This allows us to enhance security measures, streamline reviews
# and help automate review requests.
#
# Most owners are people who have a lot of experience in a certain area of the
# codebase, and as such are most suited to review changes to that area.
#
# Hemi Labs team members: If you feel you have a lot of experience in an area
#  within the codebase, please add yourself as a code owner.

# This is the default owner for all files in this repository.
# Core Engineering is responsible for all source code in this repository.
* @hemilabs/dev

# GitHub Actions Workflows
/.github/workflows/ @hemilabs/dev @joshuasing

# Docker images
/docker/ @hemilabs/dev @ClaytonNorthey92 @joshuasing

# End-to-End testing
/e2e/ @hemilabs/dev @ClaytonNorthey92

# Pprof service
/service/pprof/ @hemilabs/dev @joshuasing

# Tiny Bitcoin Daemon (TBC)
/api/tbcapi/    @hemilabs/dev @marcopeereboom @joshuasing
/cmd/tbcd/      @hemilabs/dev @marcopeereboom
/database/tbcd/ @hemilabs/dev @marcopeereboom
/service/tbc/   @hemilabs/dev @marcopeereboom

# WASM PoP Miner (popmd/wasm)
/web/ @hemilabs/dev @joshuasing
