Repository hemilabs/heminetwork, changes with the labels that .github/labeler.yml gives for each.
All labels: area: bfg, area: bss, area: ci, area: deucalion, area: docker, area: hemictl, area: @hemilabs/pop-miner, area: make, area: popm/wasm, area: popm, area: tbc

updated op-geth commit
  e2e/optimism-stack.Dockerfile
Labels: none

ci: use .nvmrc file for Node version
  .github/workflows/node.yml
  .github/workflows/release.yml
  web/.nvmrc
Labels: area: ci

popm/wasm: remove unneeded '| undefined' option for logLevel
  web/packages/pop-miner/src/types.ts
Labels: area: @hemilabs/pop-miner

ci: remove unused env variable
  .github/workflows/node.yml
  .github/workflows/release.yml
Labels: area: ci

ci: remove duplicate make build pop-miner
  .github/workflows/go.yml
Labels: area: ci

ci: use NPM_TOKEN secret for pnpm publish
  .github/workflows/release.yml
Labels: area: ci

ci: change concurrency group name for Node workflow
  .github/workflows/node.yml
Labels: area: ci

ci: remove usage of non-existent env var NODE_VERSION
  .github/workflows/node.yml
  .github/workflows/release.yml
Labels: area: ci

.github/labeler.yml:

# Copyright (c) 2024 Hemi Labs, Inc.
# Use of this source code is governed by the MIT License,
# which can be found in the LICENSE file.

# Bitcoin Finality Governor (BFG)
'area: bfg':
  - changed-files:
      - any-glob-to-any-file:
          - "api/bfgapi/**"
          - "cmd/bfgd/**"
          - "database/bfgd/**"
          - "docker/bfgd/**"
          - "service/bfg/**"

# Bitcoin Secure Sequencer (BSS)
'area: bss':
  - changed-files:
      - any-glob-to-any-file:
          - "api/bssapi/**"
          - "cmd/bssd/**"
          - "docker/bssd/**"
          - "service/bss/**"

# GitHub Actions workflows (CI)
'area: ci':
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

# Deucalion (Prometheus service)
'area: deucalion':
  - changed-files:
      - any-glob-to-any-file:
          - "service/deucalion/**"

# Docker images
'area: docker':
  - changed-files:
      - any-glob-to-any-file:
          - "docker/**"

# hemictl
'area: hemictl':
  - changed-files:
      - any-glob-to-any-file:
          - "cmd/hemictl/**"

# @hemilabs/pop-miner NPM package
'area: @hemilabs/pop-miner':
  - changed-files:
      - any-glob-to-any-file:
          - "web/packages/pop-miner/**"

# Makefiles
'area: make':
  - changed-files:
      - any-glob-to-any-file: "**/Makefile"

# WebAssembly PoP Miner
'area: popm/wasm':
  - changed-files:
      - any-glob-to-any-file:
          - "web/popminer/**"

# PoP Miner
'area: popm':
  - changed-files:
      - any-glob-to-any-file:
          - "cmd/popmd/**"
          - "docker/popmd/**"
          - "service/popm/**"

# Tiny Bitcoin Daemon (TBC)
'area: tbc':
  - changed-files:
      - any-glob-to-any-file:
          - "api/tbcapi/**"
          - "cmd/tbcd/**"
          - "database/tbcd/**"
          - "service/tbc/**"
