Repository hemilabs/heminetwork, pull requests merged in 2024-09, with the labels that each got.

#237 popm/wasm: add automatic fees
  service/popm/popm.go
  service/popm/popm_test.go
  web/packages/pop-miner/src/types.ts
  web/popminer/api.go
  web/popminer/dispatch.go
  web/popminer/fee.go
  web/popminer/network.go
  web/popminer/popminer.go
  web/www/index.html
  web/www/index.js
Labels: type: refactor, type: feature, size: M, area: popm, area: popm/wasm, area: @hemilabs/pop-miner

#224 tbc: add block-by-hash command to RPC, use chainhash
  Makefile
  api/tbcapi/tbcapi.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
Labels: type: enhancement, type: feature, status: breaking, size: M, area: tbc, area: make

#244 check for ctx.Done() when using request limiter
  service/bfg/bfg.go
Labels: area: bfg

#245 need to select FOR UPDATE to lock row
  database/bfgd/postgres/postgres.go
Labels: size: XS, area: bfg

#235 trim old, new index
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0010.sql
  service/bfg/bfg.go
Labels: area: bfg

#247 electrumx: fix deadlock in Close/pinger, stop ticker
  hemi/electrumx/conn.go
  hemi/electrumx/conn_test.go
Labels: type: refactor, type: bug, size: S, area: bfg

#248 bfg: fix issues reported by staticcheck
  service/bfg/bfg.go
Labels: type: refactor, type: bug, area: bfg

#251 popm/wasm: make automaticFees default to enabled
  web/popminer/dispatch.go
Labels: type: bug, area: popm/wasm

#254 bound height to 100 from canonical tip as to not have to scan large portion of index
  database/bfgd/postgres/postgres.go
Labels: area: bfg

#232 Add mechanism to recover from forks at runtime
  database/bfgd/postgres/postgres.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/peer.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
  ttl/ttl.go
  ttl/ttl_test.go
Labels: type: enhancement, size: XL, area: bfg, area: tbc

#256 popm/wasm: add automatic fee multiplier, fix auto fee args
  web/packages/pop-miner/src/browser/index.ts
  web/packages/pop-miner/src/types.ts
  web/popminer/dispatch.go
  web/popminer/fee.go
  web/www/index.html
  web/www/index.js
Labels: type: refactor, type: enhancement, size: S, area: popm/wasm, area: @hemilabs/pop-miner

#255 tbc: fix log using %w verb
  service/tbc/tbc.go
Labels: type: bug, size: XS, area: tbc

#257 add tx id to broadcast error log so we can trace it
  service/bfg/bfg.go
Labels: size: XS, area: bfg

#258 electrumx: move conn metrics into clientConn
  hemi/electrumx/conn.go
  hemi/electrumx/conn_pool.go
Labels: type: refactor, type: bug, size: XS

#264 Add mempool handling to tbc
  cmd/tbcd/tbcd.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/mempool.go
  service/tbc/peer.go
  service/tbc/peer_manager.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
Labels: type: enhancement, size: XL, area: tbc

#262 bfgapi: remove additional slash from default urls (fix #260)
  api/bfgapi/bfgapi.go
Labels: type: bug, size: XS, area: bfg
