Repository hemilabs/heminetwork, pull requests merged in 2024-06, with the labels that each got.

#134 e2e: fix issues detected by staticcheck
  e2e/e2e_ext_test.go
Labels: type: refactor, type: test, size: M

#101 Add forking detection to TBC
  api/tbcapi/README.md
  api/tbcapi/tbcapi.go
  cmd/hemictl/hemictl.go
  cmd/tbcd/tbcd.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  go.mod
  service/tbc/crawler.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
  service/tbc/ulimit_linux.go
Labels: type: test, type: enhancement, status: breaking, size: XXL, area: tbc

#144 popm/wasm: improve and tidy up Go code
  cmd/popmd/popmd.go
  web/Makefile
  web/popminer/api.go
  web/popminer/dispatch.go
  web/popminer/network.go
  web/popminer/network_local.go
  web/popminer/popminer.go
  web/popminer/util.go
  web/www/index.html
  web/www/index.js
  web/www/popminer.js
  web/www/wasm_exec.js
Labels: type: refactor, type: enhancement, size: L, area: popm/wasm, area: make

#149 Add initial CODEOWNERS file
  .github/CODEOWNERS
Labels: type: enhancement, size: XS

#146 popm/wasm: add wasm-opt target to optimise wasm binary
  web/Makefile
Labels: type: enhancement, size: XS, area: popm/wasm, area: make

#160 popm/wasm: improve js.Value creation, add JSMarshaler interface
  web/popminer/api.go
  web/popminer/util.go
Labels: type: refactor, size: M, area: popm/wasm
