Repository hemilabs/heminetwork, pull requests merged in 2024-08, with the labels that each got.

#192 electrumx: improve closing and fix close panic
  hemi/electrumx/conn.go
  hemi/electrumx/conn_test.go
Labels: type: refactor, type: bug, size: S, area: bfg

#194 bss: increase read limit for bfg conn to 2 MiB
  api/auth/secp256k1_test.go
  api/protocol/protocol.go
  service/bss/bss.go
  service/popm/popm.go
Labels: type: refactor, type: bug, size: S, area: bss, area: popm

#185 remove lastErr variables from rpc_test.go
  service/tbc/rpc_test.go
Labels: type: refactor, area: test, area: tbc

#197 popm: change BFG reconnect log to 'info' level
  service/popm/popm.go
Labels: type: enhancement, size: XS, area: popm

#188 Add a header and block cache.
  cmd/hemictl/hemictl.go
  cmd/tbcd/tbcd.go
  database/database.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  go.mod
  go.sum
  service/tbc/peer_manager.go
  service/tbc/tbc.go
  service/tbc/tbcfork_test.go
Labels: type: enhancement, size: S, area: hemictl, area: tbc

#198 go.mod,docker: update dependencies
  .github/workflows/go.yml
  api/auth/secp256k1_test.go
  api/protocol/protocol.go
  docker/bfgd/Dockerfile
  docker/bssd/Dockerfile
  docker/popmd/Dockerfile
  e2e/e2e_ext_test.go
  e2e/monitor/go.mod
  e2e/monitor/go.sum
  e2e/optimism-stack.Dockerfile
  e2e/postgres.Dockerfile
  go.mod
  go.sum
  service/bfg/bfg.go
  service/bss/bss.go
  service/popm/popm_test.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc_test.go
Labels: type: dependencies, area: bfg, area: bss, area: ci, area: popm, area: docker, area: tbc

#189 Move various arrays and byte slices to use pointers to chainhash.
  cmd/btctool/btctool.go
  cmd/hemictl/hemictl.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
Labels: type: enhancement, size: XL, area: hemictl, area: tbc

#201 Add a rawdb package for blocks
  database/level/level.go
  database/tbcd/level/level.go
  go.mod
  go.sum
  rawdb/rawdb.go
  rawdb/rawdb_test.go
Labels: area: tbc

#213 inserting unconfirmed pop_basis async
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
Labels: area: bfg

#204 electrumx: retry broken pipe error
  hemi/electrumx/electrumx.go
Labels: type: enhancement, size: XS

#209 remove L2KeystonesCount from being a public function
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
Labels: area: bfg

#215 electrumx: fix removing conn from pool
  hemi/electrumx/conn_pool.go
Labels: type: refactor, type: bug, size: XS

#202 all: add user agents and improve build info log
  .github/workflows/release.yml
  Makefile
  api/auth/secp256k1.go
  api/protocol/dial.go
  api/protocol/dial_wasm.go
  api/protocol/protocol.go
  cmd/bfgd/bfgd.go
  cmd/bssd/bssd.go
  cmd/btctool/btctool.go
  cmd/extool/extool.go
  cmd/hemictl/hemictl.go
  cmd/keygen/keygen.go
  cmd/popmd/popmd.go
  cmd/tbcd/README.md
  cmd/tbcd/tbcd.go
  docker/bfgd/Dockerfile
  docker/bssd/Dockerfile
  docker/popmd/Dockerfile
  e2e/monitor/README.md
  service/bfg/bfg.go
  service/popm/popm.go
  version/useragent.go
  version/useragent_test.go
  version/version.go
  web/popminer/popminer.go
Labels: type: enhancement, type: feature, size: L, area: bfg, area: bss, area: ci, area: popm, area: popm/wasm, area: docker, area: hemictl, area: tbc, area: make

#206 bfgd, electrumx: make initial and max conns configurable
  cmd/bfgd/bfgd.go
  cmd/extool/extool.go
  docker/bfgd/Dockerfile
  hemi/electrumx/conn_pool_test.go
  hemi/electrumx/electrumx.go
  service/bfg/bfg.go
Labels: type: refactor, status: breaking, size: S, area: bfg, area: docker

#218 Fix p2p network stalls.
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/tbc.go
Labels: area: tbc

#226 electrumx,bfg: add electrumx prometheus metrics
  cmd/extool/extool.go
  docker/bfgd/Dockerfile
  docker/bssd/Dockerfile
  docker/popmd/Dockerfile
  hemi/electrumx/conn.go
  hemi/electrumx/conn_pool.go
  hemi/electrumx/conn_pool_test.go
  hemi/electrumx/conn_test.go
  hemi/electrumx/electrumx.go
  service/bfg/bfg.go
Labels: type: refactor, type: enhancement, status: breaking, size: M, area: bfg, area: bss, area: popm, area: docker

#227 add queuing system for bitcoin broadcasts
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0009.sql
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
  service/bss/bss.go
Labels: area: bfg, area: bss

#233 added needed test waits since recent l2 keystones are updated async
  e2e/e2e_ext_test.go
Labels: area: test, area: bfg

#217 all: build with go1.23
  .github/workflows/go.yml
  .github/workflows/localnet-test.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  README.md
  cmd/tbcd/README.md
  docker/bfgd/Dockerfile
  docker/bssd/Dockerfile
  docker/popmd/Dockerfile
  e2e/monitor/README.md
  e2e/monitor/go.mod
  e2e/optimism-stack.Dockerfile
  go.mod
Labels: type: dependencies, type: enhancement, size: XS, area: bfg, area: bss, area: ci, area: popm, area: docker, area: tbc

#236 cache bitcoin height from process btc block
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
Labels: area: bfg

#239 more fragile test fixes
  e2e/e2e_ext_test.go
  service/popm/popm_test.go
Labels: area: popm

#172 PoP stats service
  .github/CODEOWNERS
  popstats/.dockerignore
  popstats/.gitignore
  popstats/.nvmrc
  popstats/Dockerfile
  popstats/README.md
  popstats/package.json
  popstats/pnpm-lock.yaml
  popstats/server.js
  popstats/src/bigint-math.js
  popstats/src/p-do-whilst.js
  popstats/src/p-whilst.js
Labels: type: enhancement, size: L, area: pop-stats

#242 remove insertion of pop_basis during broadcast
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
Labels: area: bfg

#243 electrumx: fix open/closed/idle metrics for conn pool
  hemi/electrumx/conn_pool.go
Labels: type: bug, size: XS
