Repository hemilabs/heminetwork, pull requests merged in 2024-02, with the labels that each got.

#4 electrumx: fix race condition in client
  hemi/electrumx/electrumx.go
Labels: type: bug, size: XS

#5 ci: fix go workflow succeeding even if a step fails
  .github/workflows/go.yml
Labels: type: bug, size: XS, area: ci

#3 make less likely to spend coinbase
  e2e/network_test.go
Labels: type: test, size: S, area: bfg

#10 Move internal error into protocol package
  api/protocol/protocol.go
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
  service/bss/bss.go
Labels: type: refactor, type: enhancement, size: XL

#9 make: add -local flag to goimports
  Makefile
  e2e/mocktimism/mocktimism.go
  e2e/network_test.go
Labels: size: XS
