Repository hemilabs/heminetwork, pull requests merged in 2024-10, with the labels that each got.

#268 Add testnet and mainnet checkpoints for more vroom vroom
  service/tbc/crawler.go
  service/tbc/peer.go
  service/tbc/peer_manager.go
  service/tbc/tbc.go
Labels: area: tbc

#269 Only return a single block where a tx was mined as found by yhe utxo indexer
  cmd/hemictl/hemictl.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/tbc.go
Labels: area: hemictl, area: tbc

#270 run forge script in non-interactive mode in shell script
  e2e/genesisl2.sh
Labels: size: XS

#272 Remove DB call from tbc Server
  service/tbc/tbc.go
Labels: area: hemictl, area: tbc

#275 Opportunistically add indexer keys to db.
  service/tbc/crawler.go
Labels: type: bug, size: XS, area: tbc

#276 stability and fragile test fixes
  service/popm/popm.go
  service/popm/popm_test.go
Labels: type: refactor, area: test, area: popm

#274 Replace electrumx with electrs
  README.md
  cmd/bfgd/bfgd.go
  cmd/extool/extool.go
  e2e/cookie
  e2e/docker-compose.yml
  e2e/e2e_ext_test.go
  e2e/monitor/main_test.go
  hemi/electrs/conn.go
  hemi/electrs/conn_pool.go
  hemi/electrs/conn_pool_test.go
  hemi/electrs/conn_test.go
  hemi/electrs/electrs.go
  service/bfg/bfg.go
Labels: area: bfg, area: ci

#277 tbc: fix regression where we were linking the wrong blockheaders
  database/tbcd/level/level.go
Labels: area: tbc

#196 bfg,bss: add pagination to PoP txs and payouts
  api/bfgapi/bfgapi.go
  api/bssapi/bssapi.go
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
  service/bss/bss.go
Labels: type: refactor, type: enhancement, size: M, area: bfg, area: bss

#279 popmd: make BFG request timeout configurable
  api/bfgapi/bfgapi.go
  cmd/popmd/popmd.go
  config/config.go
  service/popm/popm.go
Labels: type: refactor, area: bfg, area: popm

#282 tbcd: revisit block header cache
  cmd/tbcd/tbcd.go
  database/tbcd/database.go
  database/tbcd/level/headercache.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/tbc.go
Labels: type: refactor, size: M, area: tbc

#273 tbcd: clean up peer and peermanager
  cmd/tbcd/tbcd.go
  go.mod
  service/tbc/crawler.go
  service/tbc/peer.go
  service/tbc/peer_manager.go
  service/tbc/peermanager_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
Labels: type: refactor, status: breaking, size: XL, area: tbc

#289 Fix disconnects caused by ReadDeadline.
  service/tbc/peer_manager.go
  service/tbc/tbc.go
Labels: type: bug, size: S, area: tbc

#287 api,popmd: improve perf and remove redundant bitcoinBalance call
  api/bfgapi/bfgapi.go
  api/protocol/protocol.go
  service/popm/popm.go
  service/popm/popm_test.go
Labels: type: refactor, size: S, area: bfg, area: popm

#284 Bring back mempool and sundry fixes.
  service/tbc/crawler.go
  service/tbc/tbc.go
Labels: area: tbc

#292 Missed this commit
  service/tbc/peer.go
  service/tbc/tbc.go
Labels: area: tbc

#291 version: bump version to 0.5.1
  version/version.go
Labels: type: enhancement, size: XS

#294 Corrent container name in e2e tests
  e2e/docker-compose.yml
  e2e/monitor/main.go
Labels: area: docker

#288 added page and limit to finalities by keystones request
  api/bfgapi/bfgapi.go
  api/bssapi/bssapi.go
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
  service/bss/bss.go
Labels: area: bfg, area: bss

#267 Op-Conductor Localnet
  .github/workflows/localnet-test.yml
  e2e/deploy-config.json
  e2e/docker-compose.yml
  e2e/entrypointl2.sh
  e2e/monitor/main.go
  e2e/monitor/main_test.go
  e2e/op-node-priv-key-2.txt
  e2e/op-node-priv-key-3.txt
  e2e/op-node-priv-key.txt
  e2e/optimism-stack.Dockerfile
  e2e/setup-raft.bash
Labels: area: bfg, area: ci

#298 Fix major part of stalls and an index loop bug.
  service/tbc/peer.go
  service/tbc/tbc.go
Labels: area: tbc
