Repository hemilabs/heminetwork, pull requests merged in 2024-04, with the labels that each got.

#45 tbcapi: add blockheaders-best API and RPC
  .gitignore
  Makefile
  api/tbcapi/tbcapi.go
  service/tbc/rpc.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
Labels: type: enhancement, size: M, area: tbc

#47 added tbcapi-utxos-by-address endpoint
  api/tbcapi/tbcapi.go
  service/tbc/rpc.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
Labels: size: L, area: tbc

#49 added tx-by-id endpoint
  api/tbcapi/tbcapi.go
  database/tbcd/level/level.go
  service/tbc/rpc.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
Labels: size: L, area: tbc

#61 Rename block-header-by-height to block-headers-by-height
  api/tbcapi/tbcapi.go
  service/tbc/rpc.go
  service/tbc/tbc_test.go
Labels: type: bug, area: tbc

#51 Add common user-specific files to gitignore
  .gitignore
Labels: type: enhancement

#37 localnet
  README.md
  cmd/popmd/popmd.go
  e2e/.env
  e2e/deploy-config.json
  e2e/deployments/devnetL1/.chainId
  e2e/deployments/devnetL1/AddressManager.json
  e2e/deployments/devnetL1/BlockOracle.json
  e2e/deployments/devnetL1/DisputeGameFactory.json
  e2e/deployments/devnetL1/DisputeGameFactoryProxy.json
  e2e/deployments/devnetL1/L1CrossDomainMessenger.json
  e2e/deployments/devnetL1/L1CrossDomainMessengerProxy.json
  e2e/deployments/devnetL1/L1ERC721Bridge.json
  e2e/deployments/devnetL1/L1ERC721BridgeProxy.json
  e2e/deployments/devnetL1/L1StandardBridge.json
  e2e/deployments/devnetL1/L1StandardBridgeProxy.json
  e2e/deployments/devnetL1/L2OutputOracle.json
  e2e/deployments/devnetL1/L2OutputOracleProxy.json
  e2e/deployments/devnetL1/Mips.json
  e2e/deployments/devnetL1/OptimismMintableERC20Factory.json
  e2e/deployments/devnetL1/OptimismMintableERC20FactoryProxy.json
  e2e/deployments/devnetL1/OptimismPortal.json
  e2e/deployments/devnetL1/OptimismPortalProxy.json
  e2e/deployments/devnetL1/PreimageOracle.json
  e2e/deployments/devnetL1/ProtocolVersions.json
  e2e/deployments/devnetL1/ProtocolVersionsProxy.json
  e2e/deployments/devnetL1/ProxyAdmin.json
  e2e/deployments/devnetL1/SafeProxyFactory.json
  e2e/deployments/devnetL1/SafeSingleton.json
  e2e/deployments/devnetL1/SuperchainConfig.json
  e2e/deployments/devnetL1/SuperchainConfigProxy.json
  e2e/deployments/devnetL1/SystemConfig.json
  e2e/deployments/devnetL1/SystemConfigProxy.json
  e2e/docker-compose.yml
  e2e/e2e/keystore/UTC--2024-03-05T21-11-00.982268400Z--78697c88847dfbbb40523e42c1f2e28a13a170be
  e2e/e2e/keystore/UTC--2024-03-05T21-11-09.690910600Z--06f0f8ee8119b2a0b7a95ba267231be783d8d2ab
  e2e/e2e/keystore/UTC--2024-03-05T21-11-16.934955400Z--7e7b60b907135c1a3d6844cfd3760b3143f5497a
  e2e/e2e/passwords.txt
  e2e/entrypointl2.sh
  e2e/genesisl2.sh
  e2e/jwt.txt
  e2e/optimism-stack.Dockerfile
  e2e/output/bytecode.txt
  e2e/output/deployment.json
  e2e/prestate-proof.json
  e2e/rollupl2.json
  service/popm/popm.go
  service/popm/popm_test.go
Labels: type: test, size: XL

#63 tbcapi: use api.ByteSlice to encode bytes as hex
  api/api.go
  api/tbcapi/tbcapi.go
  service/tbc/rpc.go
  service/tbc/tbc_test.go
Labels: type: refactor, area: tbc

#67 tbc: remove use of math/rand from rpc.go
  service/tbc/rpc.go
Labels: type: bug, area: tbc

#68 tbcapi: remove remaining "btc" prefixes
  api/tbcapi/tbcapi.go
  service/tbc/rpc.go
Labels: type: enhancement, area: tbc

#70 tbc: improve rpc request handling
  service/tbc/rpc.go
  service/tbc/tbc.go
Labels: type: refactor, size: M, area: tbc

#73 tbcapi: split block-headers-by-height into raw and serialised
  api/tbcapi/tbcapi.go
  service/tbc/rpc.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
Labels: type: enhancement, area: tbc

#83 updated build order of op-stack
  e2e/optimism-stack.Dockerfile
Labels: area: docker

#82 Add aggressive ping/pong to cull questionable connections.
  service/tbc/tbc.go
  ttl/ttl.go
  ttl/ttl_test.go
Labels: type: enhancement, size: M, area: tbc

#80 Refactor errors to improve overall consistency
  api/auth/auth.go
  api/auth/secp256k1.go
  api/protocol/protocol.go
  bitcoin/bitcoin.go
  cmd/bfgd/bfgd.go
  cmd/bssd/bssd.go
  cmd/btctool/bdf/bdf.go
  cmd/btctool/blockstream/blockstream.go
  cmd/btctool/btctool.go
  cmd/btctool/btctool/btctool.go
  cmd/btctool/httpclient/httpclient.go
  cmd/hemictl/hemictl.go
  cmd/keygen/keygen.go
  cmd/popmd/popmd.go
  cmd/tbcd/tbcd.go
  config/config.go
  database/bfgd/postgres/postgres.go
  database/database.go
  database/level/level.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  hemi/electrumx/conn_test.go
  hemi/electrumx/electrumx.go
  hemi/pop/pop.go
  service/bfg/bfg.go
  service/bfg/bfg_test.go
  service/bss/bss.go
  service/deucalion/deucalion.go
  service/popm/popm.go
  service/popm/prometheus.go
  service/tbc/crawler.go
  service/tbc/peer.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  web/popminer/popminer.go
Labels: type: refactor

#87 Replace os.Kill with syscall.SIGTERM in signal.Notify calls
  cmd/bfgd/bfgd.go
  cmd/bssd/bssd.go
  cmd/popmd/popmd.go
  cmd/tbcd/tbcd.go
Labels: type: bug

#91 Added configurable fee-per-vB to PoP Miner
  cmd/popmd/popmd.go
  service/popm/popm.go
Labels: area: popm

#81 e2e: tidy up docker-compose file
  e2e/docker-compose.yml
  e2e/entrypointl2.sh
  e2e/optimism-stack.Dockerfile
Labels: area: docker

#95 Kill all pending block downloads if a peer fails
  service/tbc/tbc.go
  ttl/ttl.go
  ttl/ttl_test.go
Labels: area: tbc

#99 e2e: fix op-proposer op-node dependency condition (fixes #98)
  e2e/docker-compose.yml
Labels: type: bug, area: docker

#104 tbcapi: use reverse byte order for hashes in serialised, tidy up
  api/api.go
  api/tbcapi/tbcapi.go
  service/tbc/rpc.go
  service/tbc/tbc_test.go
Labels: type: refactor, type: bug, size: S, area: tbc

#103 more robust nextPort
  e2e/e2e_ext_test.go
  service/tbc/tbc_test.go
Labels: type: refactor, size: S
