Repository hemilabs/heminetwork, pull requests merged in 2024-12, with the labels that each got.

#336 add index to pop_basis for pop tx queries
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0011.sql
Labels: area: bfg

#338 Add additional prometheus capability to integrate in grafana
  service/tbc/crawler.go
  service/tbc/prometheushorror.go
  service/tbc/tbc.go
Labels: area: tbc

#337 fragile test case + race condition fixes
  rawdb/rawdb.go
  service/tbc/peer/rawpeer/rawpeer.go
  service/tbc/tbcfork_test.go
Labels: area: tbc

#342 tbcapi: fix typo in docs readme
  api/tbcapi/README.md
Labels: area: tbc

#344 Fixup hackerone findings
  service/deucalion/deucalion.go
  service/tbc/mempool.go
  service/tbc/tbc.go
Labels: area: deucalion, area: tbc

#340 Provide Running call to see if the service is "up enough"
  database/level/level.go
  go.mod
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
  service/tbc/ulimit_darwin.go
  service/tbc/ulimit_linux.go
  service/tbc/ulimit_other.go
Labels: area: tbc

#345 Fix or workaround dumb linter errors
  .golangci.yaml
  Makefile
  api/auth/secp256k1.go
  api/protocol/protocol.go
  cmd/bfgd/bfgd.go
  cmd/bssd/bssd.go
  cmd/btctool/blockstream/blockstream.go
  cmd/btctool/btctool.go
  cmd/hemictl/hemictl.go
  cmd/keygen/keygen.go
  cmd/popmd/popmd.go
  cmd/tbcd/tbcd.go
  config/config.go
  database/bfgd/postgres/postgres.go
  database/level/level.go
  database/postgres/postgres.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  hemi/electrs/conn_pool.go
  hemi/electrs/electrs.go
  rawdb/rawdb.go
  service/bfg/bfg.go
  service/bss/bss.go
  service/deucalion/deucalion.go
  service/popm/popm.go
  service/popm/popm_test.go
  service/tbc/crawler.go
  service/tbc/mempool.go
  service/tbc/peer/peer.go
  service/tbc/peer/rawpeer/rawpeer.go
  service/tbc/peermanager.go
  service/tbc/rpc.go
  service/tbc/tbc.go
  web/integrationtest/integrationtest.go
Labels: area: bfg, area: bss, area: deucalion, area: popm, area: hemictl, area: tbc, area: make

#339 Add prometheus namespace
  hemi/electrs/electrs.go
  service/bfg/bfg.go
  service/tbc/tbc.go
Labels: area: bfg, area: tbc
