Repository hemilabs/heminetwork, pull requests merged in 2024-07, with the labels that each got.

#164 scripts: add release script
  .github/CODEOWNERS
  scripts/release.sh
Labels: type: enhancement, size: M

#162 popm/wasm: add new @hemilabs/pop-miner NPM package
  .github/workflows/go.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  Makefile
  web/.gitignore
  web/.nvmrc
  web/.prettierignore
  web/.prettierrc
  web/Makefile
  web/eslint.config.mjs
  web/package.json
  web/packages/pop-miner/package.json
  web/packages/pop-miner/pnpm-lock.yaml
  web/packages/pop-miner/src/browser/index.ts
  web/packages/pop-miner/src/browser/wasm.ts
  web/packages/pop-miner/src/browser/wasm_exec.ts
  web/packages/pop-miner/src/types.ts
  web/packages/pop-miner/tsconfig.json
  web/packages/pop-miner/tsup.config.ts
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
  web/www/wasm_exec.js
Labels: type: enhancement, size: XL, area: ci, area: make, area: @hemilabs/pop-miner

#167 ci: add registry-url to setup-node in release
  .github/workflows/release.yml
Labels: type: bug, area: ci

#168 popm/wasm: add 'parseKey' method
  web/packages/pop-miner/src/browser/index.ts
  web/packages/pop-miner/src/browser/wasm.ts
  web/packages/pop-miner/src/types.ts
  web/popminer/api.go
  web/popminer/dispatch.go
  web/www/index.html
  web/www/index.js
Labels: type: refactor, type: enhancement, size: M, area: popm/wasm, area: @hemilabs/pop-miner

#169 popm/wasm: add 'bitcoinAddressToScriptHash' method
  web/packages/pop-miner/src/browser/index.ts
  web/packages/pop-miner/src/browser/wasm.ts
  web/packages/pop-miner/src/types.ts
  web/popminer/api.go
  web/popminer/dispatch.go
  web/www/index.html
  web/www/index.js
Labels: type: feature, size: M, area: popm/wasm, area: @hemilabs/pop-miner

#163 ci: improve runtime of high usage CI workflows
  .github/workflows/go.yml
  .github/workflows/release.yml
  Makefile
Labels: type: enhancement, size: XS, area: ci

#174 popm/wasm: fix ethereum address when generating and parsing keys
  web/popminer/dispatch.go
Labels: type: bug, size: S, area: popm/wasm

#173 popm: improve UTXO selection when creating Bitcoin transaction
  service/popm/popm.go
Labels: type: refactor, type: enhancement, size: S, area: popm

#175 popm/wasm: add events and clean up globals
  service/popm/event.go
  service/popm/popm.go
  web/packages/pop-miner/src/browser/index.ts
  web/packages/pop-miner/src/browser/wasm.ts
  web/packages/pop-miner/src/types.ts
  web/popminer/api.go
  web/popminer/dispatch.go
  web/popminer/popminer.go
  web/popminer/util.go
  web/www/index.html
  web/www/index.js
Labels: type: refactor, type: feature, size: L, area: popm, area: popm/wasm, area: @hemilabs/pop-miner

#177 popm/wasm: rename KeyResult fields and add bitcoinScriptHash
  web/packages/pop-miner/src/types.ts
  web/popminer/api.go
  web/popminer/dispatch.go
Labels: type: refactor, type: enhancement, size: S, area: popm/wasm, area: @hemilabs/pop-miner

#178 popm/wasm: add 'minerStatus' method
  service/popm/popm.go
  web/packages/pop-miner/src/browser/index.ts
  web/packages/pop-miner/src/browser/wasm.ts
  web/packages/pop-miner/src/types.ts
  web/popminer/api.go
  web/popminer/dispatch.go
  web/popminer/util.go
  web/www/index.html
  web/www/index.js
Labels: type: feature, size: S, area: popm, area: popm/wasm, area: @hemilabs/pop-miner

#181 popm/wasm: fix dispatch params for {add,remove}EventListener
  web/packages/pop-miner/src/browser/index.ts
Labels: type: bug, size: XS, area: @hemilabs/pop-miner

#186 popm: exclude tx outputs that would be dust
  go.mod
  go.sum
  service/popm/popm.go
  service/popm/popm_test.go
Labels: type: enhancement, size: S, area: popm

#159 Add for wind/unwind support to tbc
  cmd/hemictl/hemictl.go
  database/level/level.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  service/tbc/crawler.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
Labels: type: feature, status: breaking, size: XXL, area: hemictl, area: tbc
