Repository hemilabs/heminetwork, pull requests merged in 2024-03, with the labels that each got.

#19 allowing BTC Block and L2 Keystone generation rates to be configurable in local network
  README.md
  e2e/docker-compose.yml
  e2e/mocktimism/mocktimism.go
Labels: type: test, size: S, area: hemi

#22 Network test start height + no panic
  e2e/network_test.go
Labels: type: test, type: bug, size: XS

#25 docker: update golang image to v1.22.1
  docker/bfgd/Dockerfile
  docker/bssd/Dockerfile
  docker/popmd/Dockerfile
Labels: type: dependencies, area: docker

#16 ci: fix concurrency cancel-in-progress for pull requests
  .github/workflows/go.yml
Labels: type: bug, size: XS, area: ci

#18 retry mine keystone on failure
  e2e/network_test.go
  service/popm/popm.go
  service/popm/popm_test.go
Labels: type: enhancement, size: XL, area: popm

#29 Update README.md
  README.md
Labels: type: documentation

#26 electrumx: add connection reuse and pooling
  e2e/e2e_ext_test.go
  go.mod
  go.sum
  hemi/electrumx/conn.go
  hemi/electrumx/conn_pool.go
  hemi/electrumx/conn_pool_test.go
  hemi/electrumx/conn_test.go
  hemi/electrumx/electrumx.go
  service/bfg/bfg.go
Labels: type: refactor, type: enhancement, area: hemi

#36 e2e: sync ElectrumX environment variables with infra
  e2e/docker-compose.yml
  e2e/network_test.go
Labels: type: test, type: bug

#32 Use 'errors.Is' to compare errors
  api/protocol/protocol.go
  cmd/bfgd/bfgd.go
  cmd/bssd/bssd.go
  cmd/hemictl/hemictl.go
  cmd/popmd/popmd.go
  database/bfgd/postgres/postgres.go
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
  service/bss/bss.go
  service/popm/popm_test.go
  service/popm/prometheus.go
  web/popminer/popminer.go
Labels: type: refactor, type: enhancement, size: S

#33 Use `maps.Clone(m)` to copy returned map in `APICommands()`
  api/bfgapi/bfgapi.go
  api/bssapi/bssapi.go
Labels: type: refactor
