Repository hemilabs/heminetwork, pull requests merged in 2024-11, with the labels that each got.

#297 Try to prevent header download stalls.
  database/database.go
  database/database_test.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/tbc.go
  service/tbc/tbcfork_test.go
Labels: area: tbc

#303 Add InsertBlock RPC
  api/tbcapi/tbcapi.go
  service/tbc/rpc.go
Labels: area: tbc

#302 go.mod: use toolchain go1.23.3
  go.mod
Labels: type: dependencies

#315 fragile test fixes + random bitcoind port during tests
  e2e/e2e_ext_test.go
  go.mod
  service/tbc/tbc.go
  service/tbc/tbc_test.go
Labels: area: tbc

#316 Add p2p commands to hemictl as reference implementation
  cmd/hemictl/hemictl.go
  service/tbc/peer/peer.go
  service/tbc/peer/peer_test.go
  service/tbc/peer/rawpeer/rawpeer.go
  service/tbc/peer/rawpeer/rawpeer_test.go
  service/tbc/peermanager.go
  service/tbc/peermanager_test.go
  service/tbc/tbc.go
  service/tbc/tbcfork_test.go
Labels: type: refactor, type: enhancement, area: hemictl, area: tbc

#286 Allow connection of BFG to another BFG for L2 Keystone Notifications/Querying
  README.md
  cmd/bfgd/bfgd.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
  service/bfg/bfg_test.go
Labels: area: bfg, area: ci

#318 all: use golangci-lint for linting
  .github/workflows/go.yml
  .golangci.yaml
  Makefile
  api/auth/secp256k1.go
  cmd/btctool/btctool.go
  cmd/btctool/btctool/btctool.go
  cmd/hemictl/hemictl.go
  database/bfgd/postgres/postgres.go
  database/level/level.go
  database/postgres/postgres.go
  hemi/hemi.go
  hemi/pop/pop.go
  license_header.txt
  service/bfg/bfg.go
  service/bss/bss.go
  service/tbc/crawler.go
  service/tbc/crawler_test.go
  service/tbc/peermanager.go
  service/tbc/tbc.go
  ttl/ttl.go
Labels: type: enhancement, area: bfg, area: bss, area: ci, area: hemictl, area: tbc, area: make

#323 Add batched medata put/get and wrap them in transactions
  database/tbcd/database.go
  database/tbcd/database_test.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
Labels: area: tbc

#325 tbc: fix err logging in sync indexers
  service/tbc/crawler.go
Labels: area: tbc

#326 make: improve all target order
  Makefile
Labels: type: refactor, type: enhancement, area: make

#327 tbcapi, tbcd: expose async block download, add BlockInsert
  api/tbcapi/tbcapi.go
  cmd/hemictl/hemictl.go
  service/tbc/rpc.go
  service/tbc/tbc.go
Labels: area: hemictl, area: tbc
