Repository hemilabs/heminetwork, pull requests merged in 2024-05, with the labels that each got.

#100 Added README for generating forks in BTC regtest for TBC fork resolution testing
  service/tbc/regtest_fork_generation.md
Labels: type: documentation, area: tbc

#105 Add pprof http server to daemons
  cmd/bfgd/bfgd.go
  cmd/bssd/bssd.go
  cmd/popmd/popmd.go
  cmd/tbcd/tbcd.go
  service/bfg/bfg.go
  service/bss/bss.go
  service/popm/popm.go
  service/pprof/pprof.go
  service/tbc/tbc.go
Labels: type: enhancement, size: M

#108 bfgd: fix loops unconditionally exited after one interation (SA4004)
  Makefile
  database/bfgd/postgres/postgres.go
  e2e/e2e_ext_test.go
Labels: type: refactor, type: bug, type: enhancement, size: S, area: bfg, area: make

#111 Sync Docker image environment variables with daemon configs
  docker/bfgd/Dockerfile
  docker/bssd/Dockerfile
  docker/popmd/Dockerfile
Labels: size: XS, area: docker

#112 ignore l2 keystones notifications in tests
  e2e/e2e_ext_test.go
Labels: type: test, type: bug, area: bfg

#109 Do not recreate outpoint for ScriptHashByOutpoint.
  database/tbcd/database.go
  database/tbcd/database_test.go
  database/tbcd/level/level.go
Labels: type: bug

#118 database,e2e: remove use of deprecated `io/ioutil` (SA1019)
  database/bfgd/database_ext_test.go
  e2e/e2e_ext_test.go
Labels: type: refactor, type: test, size: XS, area: bfg

#117 e2e: improve name for variable with type `time.Duration` (ST1011)
  e2e/e2e_ext_test.go
Labels: type: refactor, type: test, size: XS

#115 popm: use simple conversion instead of unnecessary fmt.Sprintf (S1025)
  service/popm/popm_test.go
Labels: type: refactor, size: XS, area: popm

#119 Add configuration option for static fees to web PoP miner
  web/popminer/popminer.go
  web/www/index.html
  web/www/index.js
Labels: type: enhancement, size: XS, area: popm web

#114 tbc: move RPC tests to a separate test file
  service/tbc/rpc_test.go
  service/tbc/tbc_test.go
Labels: type: refactor, type: test, area: tbc

#116 popm: simplify receivedKeystones variable in tests
  service/popm/popm_test.go
Labels: type: refactor, type: test, size: XS, area: popm

#128 ci: use org DOCKERHUB_TOKEN secret
  .github/workflows/release.yml
Labels: size: XS, area: ci

#125 ci: fix bug that makes version type always 'unstable'
  .github/workflows/release.yml
Labels: type: bug, area: ci

#124 popmd: remove unused 'handle' func and return err in connectBFG
  service/popm/popm.go
Labels: type: refactor, type: bug, size: XS, area: popm

#123 hemictl: use sort.Strings(...) instead of sort.Sort(sort.StringSlice(...)) (S1032)
  cmd/hemictl/hemictl.go
Labels: type: refactor, size: XS, area: hemi

#133 electrumx: fix unhandled error in NewJSONRPCRequest
  hemi/electrumx/conn.go
  hemi/electrumx/conn_test.go
  hemi/electrumx/electrumx.go
Labels: type: refactor, size: S

#132 bfg: fix issues reported by staticcheck
  service/bfg/bfg.go
Labels: type: refactor, size: S, area: bfg

#86 Add more documentation for TBC and related RPC protocol
  .gitignore
  README.md
  api/protocol/README.md
  api/tbcapi/README.md
  cmd/tbcd/README.md
Labels: type: documentation, area: tbc
