Repository hemilabs/heminetwork, pull requests merged in 2025-04, with the labels that each got.

#486 tbc: fix fork tests failing if tbc is slow to insert blocks
  service/tbc/tbcfork_test.go
Labels: area: tbc

#471 tbc: disable compression in databases
  .golangci.yaml
  cmd/hemictl/hemictl.go
  database/level/level.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  database/tbcd/level/upgrade.go
  e2e/monitor/go.mod
  e2e/monitor/go.sum
  go.mod
  go.sum
  rawdb/rawdb.go
  rawdb/rawdb_test.go
  service/tbc/crawler.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
Labels: type: enhancement, size: L, area: hemictl, area: tbc

#490 all: update golangci-lint, golicenser
  .github/workflows/go.yml
  .golangci.yaml
  Makefile
  cmd/keygen/keygen.go
  service/bfg/bfg.go
  service/tbc/crawler.go
  service/tbc/tbc.go
Labels: area: bfg, area: ci, area: tbc, area: make

#492 tbc: avoid race with r.index on Close
  database/tbcd/level/upgrade.go
  rawdb/rawdb.go
Labels: type: bug, size: XS, area: tbc

#487 all: enable linting test sources
  .golangci.yaml
  api/auth/secp256k1_test.go
  api/protocol/protocol.go
  config/config_test.go
  database/bfgd/database_ext_test.go
  database/tbcd/level/cache_test.go
  database/tbcd/level/level_test.go
  e2e/e2e_ext_test.go
  hemi/electrs/conn_pool.go
  rawdb/rawdb_test.go
  service/bfg/bfg_test.go
  service/popm/popm_test.go
  service/tbc/peer/peer_test.go
  service/tbc/peer/rawpeer/rawpeer_test.go
  service/tbc/rpc_test.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
Labels: area: bfg, area: popm, area: tbc

#493 deucalion: add health route
  service/bfg/bfg.go
  service/bss/bss.go
  service/deucalion/deucalion.go
  service/popm/prometheus.go
  service/tbc/crawler.go
  service/tbc/tbc.go
Labels: type: feature, size: M, area: bfg, area: bss, area: deucalion, area: popm, area: tbc
