Repository hemilabs/heminetwork, pull requests merged in 2025-06, with the labels that each got.

#526 popm: remove support for WebAssembly
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  api/protocol/dial.go
  api/protocol/dial_wasm.go
  api/protocol/protocol.go
  service/popm/event.go
  service/popm/popm.go
  service/popm/prometheus.go
  service/popm/prometheus_wasm.go
  web/.gitignore
  web/.nvmrc
  web/.prettierignore
  web/.prettierrc
  web/Makefile
  web/eslint.config.mjs
  web/integrationtest/integrationtest.go
  web/package.json
  web/packages/pop-miner/package.json
  web/packages/pop-miner/pnpm-lock.yaml
  web/packages/pop-miner/src/browser/index.ts
  web/packages/pop-miner/src/browser/wasm.ts
  web/packages/pop-miner/src/browser/wasm_exec.ts
  web/packages/pop-miner/src/types.ts
  web/packages/pop-miner/tsconfig.json
  web/packages/pop-miner/tsup.config.ts
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
  web/popminer/api.go
  web/popminer/dispatch.go
  web/popminer/fee.go
  web/popminer/network.go
  web/popminer/network_local.go
  web/popminer/popminer.go
  web/popminer/util.go
  web/www/index.html
  web/www/index.js
  web/www/popminer.js
  web/www/wasm_exec.js
Labels: type: refactor, status: breaking, type: removal

#531 docker: add tbcd image
  .goreleaser.yaml
  docker/tbcd/Dockerfile
  docker/tbcd/goreleaser.Dockerfile
Labels: area: docker

#529 all: update go to 1.24 (toolchain 1.24.4)
  .golangci.yaml
  api/auth/secp256k1_test.go
  database/bfgd/database_ext_test.go
  database/tbcd/level/level_test.go
  docker/bfgd/Dockerfile
  docker/bssd/Dockerfile
  docker/popmd/Dockerfile
  e2e/e2e_ext_test.go
  e2e/monitor/go.mod
  e2e/monitor/main_test.go
  e2e/optimism-stack-legacy.Dockerfile
  e2e/optimism-stack.Dockerfile
  go.mod
  hemi/electrs/conn_pool_test.go
  hemi/electrs/conn_test.go
  service/popm/popm_test.go
  service/tbc/crawler_test.go
  service/tbc/peer/peer_test.go
  service/tbc/peer/rawpeer/rawpeer_test.go
  service/tbc/peermanager_test.go
  service/tbc/rpc_test.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
  ttl/ttl_test.go
Labels: type: refactor, area: bfg, area: bss, area: popm, area: docker, area: tbc

#538 e2e: revert legacy dockerfile
  e2e/optimism-stack-legacy.Dockerfile
Labels: type: test, size: XS, area: ci

#543 make: install gofumpt in lint-deps
  Makefile
Labels: area: make

#550 tbc: fix miscellaneous typos
  service/tbc/tbcfork_test.go
Labels: area: tbc

#554 revert op-node to stable in localnode mainnet, remove pectra flags
  localnode/docker-compose_mainnet.yml
  localnode/gen-files.sh
Labels: area: localnode

#555 re-add pectrablobschedule flag far in future
  localnode/docker-compose_mainnet.yml
Labels: area: localnode

#539 tbc: add v4 keystone height hash index
  api/tbcapi/tbcapi.go
  cmd/hemictl/hemictl.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  database/tbcd/level/upgrade.go
  service/tbc/crawler.go
  service/tbc/rpc.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
  service/tbc/testdata/testdatabasev3.tar.gz
  testutil/extract.go
Labels: type: feature, size: L, area: hemictl, area: tbc

#559 level: re-enable db v3 upgrade warning
  database/tbcd/level/upgrade.go
Labels: area: tbc
