Repository hemilabs/heminetwork, pull requests merged in 2025-07, with the labels that each got.

#565 cmd/keygen: remove duplicate flag.Parse call
  cmd/keygen/keygen.go
Labels: type: bug

#568 hproxy: a much simpler proxyd replacement
  Makefile
  cmd/hemictl/hemictl.go
  cmd/hproxyd/hproxyd.go
  service/hproxy/ethereum.go
  service/hproxy/hproxy.go
  service/hproxy/hproxy_test.go
Labels: type: feature, size: XL, area: docker, area: hemictl, area: make

#574 docker: add hproxy docker files
  docker/hproxy/Dockerfile
  docker/hproxy/goreleaser.Dockerfile
Labels: area: docker

#585 tbc: fix unused variable
  service/tbc/peer/peer_test.go
Labels: area: tbc

#591 ci: restrict token permissions in release workflow
  .github/workflows/release.yml
Labels: type: security, area: ci

#601 popm, bfg: more test fixes
  e2e/e2e_ext_test.go
  service/bfg/bfg_test.go
  service/popm/popm.go
  service/popm/popm_test.go
  testutil/mock/mock.go
Labels: area: bfg, area: popm

#609 fix fragile test: TestKeystoneFinalityInheritance
  service/bfg/bfg_test.go
Labels: size: XS, area: bfg, area: tbc

#596 popm: add static fee override
  bitcoin/wallet/wallet.go
  bitcoin/wallet/wallet_test.go
  cmd/popmd/popmd.go
  config/config.go
  service/popm/popm.go
  service/popm/popm_test.go
Labels: area: popm

#611 all: fix several fragile tests
  Makefile
  bitcoin/wallet/gozer/blockstream/blockstream.go
  bitcoin/wallet/gozer/gozer.go
  bitcoin/wallet/gozer/tbcgozer/tbcgozer.go
  bitcoin/wallet/gozer/tbcgozer/tbcgozer_test.go
  e2e/e2e_ext_test.go
  service/bfg/bfg_test.go
  service/hproxy/hproxy_test.go
  service/popm/popm.go
  service/popm/popm_test.go
  service/tbc/rpc_test.go
  service/tbc/tbcfork_test.go
  testutil/mock/geth.go
  testutil/mock/mock.go
  testutil/mock/tbc.go
Labels: type: test, size: S, area: bfg, area: popm, area: tbc, area: make

#614 e2e: fix main rebase issue
  e2e/e2e_ext_test.go
Labels: type: test, size: XS

#607 localnode: update BFG_BASELINE_L2_BLOCK_TIMESTAMP to be in seconds
  localnode/docker-compose.yml
  localnode/docker-compose_mainnet.yml
Labels: size: XS, area: localnode

#620 localnode: dynamically generate private keys and addresses
  .github/workflows/localnet-test.yml
  cmd/keygen/keygen.go
  e2e/.env
  e2e/monitor/main.go
  e2e/monitor/main_test.go
Labels: type: test, area: ci, area: localnode

#621 tbcgozer, mock: reader logic & add additional test
  bitcoin/wallet/gozer/tbcgozer/tbcgozer_test.go
  testutil/mock/geth.go
Labels: type: test, type: bug
