Repository hemilabs/heminetwork, pull requests merged in 2025-09, with the labels that each got.

#667 all: update to go 1.24.7
  docker/bfgd/Dockerfile
  docker/bfgd/goreleaser.Dockerfile
  docker/hproxyd/Dockerfile
  docker/hproxyd/goreleaser.Dockerfile
  docker/popmd/Dockerfile
  docker/popmd/goreleaser.Dockerfile
  docker/tbcd/Dockerfile
  docker/tbcd/goreleaser.Dockerfile
  e2e/optimism-stack.Dockerfile
  go.mod
Labels: area: bfg, area: popm, area: docker

#662 tbc: add indexer abstraction layer
  cmd/tbcd/tbcd.go
  service/tbc/crawler.go
  service/tbc/geometry.go
  service/tbc/geometry_test.go
  service/tbc/indexer.go
  service/tbc/keystoneindex.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
  service/tbc/txindex.go
  service/tbc/utxoindex.go
Labels: type: refactor, size: XXL, area: tbc, area: make

#680 service/popm: add fully random backoff
  service/popm/popm.go
  service/popm/popm_test.go
  testutil/mock/mock.go
Labels: area: popm

#682 tbc: Fix genesis for keystones, AGAIN
  service/tbc/indexer.go
  service/tbc/keystoneindex.go
Labels: area: tbc

#683 tbcd: add test coverage for the genesis value on a keystone indexer
  service/tbc/keystoneindex_test.go
Labels: area: tbc

#689 ci: fix gh api errors failing labeler job
  .github/workflows/labeler.yml
Labels: type: bug, size: XS, area: ci, changelog: skip
