Repository hemilabs/heminetwork, pull requests merged in 2025-08, with the labels that each got.

#634 ci, goreleaser: add supply chain attestations
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: type: security, area: ci

#638 goreleaser: temporarily remove docker attestations
  .goreleaser.yaml
Labels: type: security, area: ci

#642 go.mod: update dependencies
  go.mod
  go.sum
Labels: type: dependencies

#640 rpc: fix TestNotFoundError
  service/tbc/rpc_test.go
Labels: type: test, type: bug, area: tbc

#635 mock: limit number of new keystone notifications
  e2e/e2e_ext_test.go
  service/bfg/bfg_test.go
  service/popm/popm_test.go
  testutil/mock/geth.go
Labels: area: bfg, area: popm

#645 tbcgozer: fix fragile tests
  api/auth/secp256k1.go
  bitcoin/wallet/gozer/tbcgozer/tbcgozer.go
  bitcoin/wallet/gozer/tbcgozer/tbcgozer_test.go
  cmd/btctool/btctool/btctool.go
  database/tbcd/database_test.go
  hemi/electrs/electrs.go
  hemi/pop/pop_test.go
  version/useragent.go
Labels: type: test, type: bug, area: tbc

#649 docker: rename hproxy to hproxyd
  docker/hproxyd/Dockerfile
  docker/hproxyd/goreleaser.Dockerfile
Labels: area: docker

#654 tbc: Fix hemi keystone genesis.
  service/tbc/mempool.go
  service/tbc/tbc.go
Labels: type: bug, size: XS, area: tbc

#651 tbcapi: update broken SECURITY.md link in readme
  api/tbcapi/README.md
Labels: area: tbc

#661 all: add contributing guide
  CHANGELOG.md
  CONTRIBUTING.md
Labels: type: documentation

#663 all: fix miscellaneous godoc function names
  database/tbcd/level/headercache.go
  e2e/monitor/main_test.go
  testutil/extract.go
Labels: area: tbc
