Repository hemilabs/heminetwork, pull requests merged in 2025-03, with the labels that each got.

#424 tbc: reduce threads used by fixup, misc improvements
  database/tbcd/database.go
  database/tbcd/level/level.go
  service/tbc/crawler.go
  service/tbc/tbc.go
  service/tbc/tbcfork_test.go
Labels: area: tbc

#421 popm: fix fragile test
  service/popm/popm_test.go
Labels: area: popm

#425 all: fix various typos in variable names
  service/bss/bss.go
  service/popm/popm_test.go
  service/tbc/peermanager.go
  service/tbc/tbc_test.go
  ttl/ttl_test.go
Labels: area: bss, area: popm, area: tbc

#429 tbc: use chainhash.Hash without pointers in the lowIQLRU cache
  database/tbcd/level/blockcache.go
  database/tbcd/level/cache_test.go
  database/tbcd/level/level.go
Labels: area: tbc

#431 bfg: add config option to disable public ws conns
  cmd/bfgd/bfgd.go
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
Labels: type: refactor, area: bfg

#433 tbc: convert hash pointers to hashes as variable arguments
  api/tbcapi/tbcapi.go
  cmd/hemictl/hemictl.go
  database/tbcd/database.go
  database/tbcd/level/blockcache.go
  database/tbcd/level/cache_test.go
  database/tbcd/level/headercache.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  service/tbc/crawler.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
Labels: type: enhancement, size: XXL, area: hemictl, area: tbc

#437 all: change default network to mainnet
  cmd/tbcd/tbcd.go
  service/popm/popm.go
Labels: type: refactor, area: popm, area: tbc

#435 tbc: fix race condition in fork tests
  service/tbc/peer/rawpeer/rawpeer.go
  service/tbc/peer/rawpeer/rawpeer_test.go
  service/tbc/tbcfork_test.go
Labels: area: tbc

#419 hemictl: various fixes and overall improvement
  cmd/hemictl/hemictl.go
  database/tbcd/level/level.go
  service/tbc/tbc.go
Labels: type: feature, area: hemictl, area: tbc

#444 fix: duplicated import chainhash
  database/tbcd/level/level_test.go
Labels: area: tbc

#445 database/tbcd/level: fix printf-style function used with no args
  database/tbcd/level/cache_test.go
Labels: type: refactor, area: test, area: tbc

#450 popm: don't instantly noop if bfg response channel is busy
  service/popm/popm.go
  service/popm/popm_test.go
Labels: area: popm

#452 Add script to simplify switching localnode modes
  localnode/.gitignore
  localnode/NODE_RUNNING.md
  localnode/docker-compose.yml
  localnode/docker-compose_mainnet.yml
  localnode/entrypointl2.sh
  localnode/gen-files.sh
  localnode/mainnet-entrypointl2.sh
Labels: area: docker

#454 ci: fixed yml files and added gh action
  .github/workflows/yml.yml
  e2e/docker-compose.yml
  localnode/docker-compose.yml
  localnode/docker-compose_mainnet.yml
Labels: area: ci

#456 BFG: save db records in processBitcoinBlock in a single tx
  database/bfgd/database.go
  database/bfgd/postgres/postgres.go
  service/bfg/bfg.go
Labels: type: refactor, size: L, area: bfg

#441 ci: split go build job to improve runtime
  .github/workflows/go.yml
Labels: type: refactor, area: ci

#459 all: use golicenser instead of go-header
  .github/workflows/go.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  .golangci.yaml
  Makefile
  database/bfgd/database_ext_test.go
  database/tbcd/level/cache_test.go
  database/tbcd/level/encodedecode_test.go
  database/tbcd/level/level_test.go
  e2e/e2e_ext_test.go
  service/popm/popm_test.go
  service/tbc/peer/rawpeer/rawpeer_test.go
  service/tbc/rpc_test.go
  service/tbc/tbc_test.go
  ttl/ttl_test.go
Labels: area: bfg, area: ci, area: popm, area: tbc, area: make

#462 update localnet, modify test timeouts
  .github/workflows/localnet-test.yml
  e2e/monitor/main_test.go
  e2e/optimism-stack.Dockerfile
Labels: area: ci

#467 docker, ci: use make go-deps to avoid installing lint deps
  .github/workflows/localnet-test.yml
  docker/bfgd/Dockerfile
  docker/bssd/Dockerfile
  docker/popmd/Dockerfile
Labels: area: bfg, area: bss, area: ci, area: popm, area: docker

#468 all: build with go1.24.1
  .github/workflows/localnet-test.yml
  .golangci.yaml
  README.md
  cmd/tbcd/README.md
  docker/bfgd/Dockerfile
  docker/bfgd/goreleaser.Dockerfile
  docker/bssd/Dockerfile
  docker/bssd/goreleaser.Dockerfile
  docker/popmd/Dockerfile
  docker/popmd/goreleaser.Dockerfile
  e2e/monitor/README.md
  e2e/monitor/go.mod
  go.mod
  localnode/docker-compose.yml
  localnode/docker-compose_mainnet.yml
Labels: area: bfg, area: bss, area: ci, area: popm, area: docker, area: tbc, area: make

#465 tbc: speed up isCanonical check
  service/tbc/crawler.go
  service/tbc/tbc.go
  service/tbc/tbcfork_test.go
Labels: type: enhancement, size: S, area: tbc

#469 all: update golangci-lint to v2
  .github/workflows/go.yml
  .golangci.yaml
  Makefile
  database/database.go
  service/bfg/bfg.go
  service/tbc/tbc.go
Labels: area: bfg, area: ci, area: tbc, area: make

#472 make, ci: run golangci-lint fmt
  .github/workflows/go.yml
  Makefile
  service/tbc/peer/rawpeer/rawpeer_test.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
  web/popminer/api.go
  web/popminer/dispatch.go
  web/popminer/popminer.go
  web/popminer/util.go
Labels: area: ci, area: popm/wasm, area: tbc, area: make
