Repository hemilabs/heminetwork, pull requests merged in 2025-02, with the labels that each got.

#391 tbc: catch leveldb closed
  service/tbc/tbc.go
Labels: type: bug, size: XS, area: tbc

#392 remove un-used index
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0017.sql
Labels: area: bfg

#397 bfgd: adjust level of noisy logs
  service/bfg/bfg.go
  service/bss/bss.go
Labels: area: bfg, area: bss

#398 bfgd: reduce finality notification log to trace
  service/bfg/bfg.go
Labels: type: refactor, area: bfg

#393 bfg: quieter log
  service/bfg/bfg.go
Labels: area: bfg

#395 tbc: add keystone indexer to synced calculation
  service/tbc/crawler.go
  service/tbc/tbc.go
Labels: type: bug, size: S, size: XS, area: tbc

#402 tbc: fix typo
  service/tbc/rpc.go
Labels: size: XS, area: tbc

#408 fragile test fixes
  .github/workflows/localnet-test.yml
  e2e/deploy-config.json
  e2e/e2e_ext_test.go
Labels: area: ci

#411 tbc: use proper database for index hashes
  .golangci.yaml
  cmd/hemictl/hemictl.go
  cmd/tbcd/tbcd.go
  database/level/level.go
  database/tbcd/database.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  database/tbcd/level/upgrade.go
  service/tbc/crawler.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/testdata/testdatabase.tar.gz
  service/tbc/util_test.go
Labels: type: bug, size: L, area: hemictl, area: tbc

#415 bfg: take into account l2 keystones that are more final than 100
  database/bfgd/postgres/postgres.go
  e2e/e2e_ext_test.go
Labels: area: bfg

#410 Fix spelling errors
  database/bfgd/database_ext_test.go
  database/database.go
  service/tbc/crawler.go
Labels: area: bfg, area: tbc

#405 bfg, bss, popm, tbc: fix various typos
  service/bfg/bfg.go
  service/bss/bss.go
  service/popm/popm.go
  service/tbc/crawler.go
  service/tbc/tbc.go
  service/tbc/tbcfork_test.go
Labels: area: bfg, area: bss, area: popm, area: tbc

#418 all: fix various typos
  api/auth/auth.go
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
Labels: area: bfg

#409 all: fix int64 and uint64 casting to int
  cmd/btctool/blockstream/blockstream.go
  cmd/btctool/btctool.go
  cmd/hemictl/hemictl.go
  database/tbcd/level/level.go
Labels: area: hemictl, area: tbc
