Repository hemilabs/heminetwork, pull requests merged in 2025-01, with the labels that each got.

#351 golangci: fix copyright header linting
  .golangci.yaml
  Makefile
Labels: type: bug, area: ci, area: make

#356 api/tbcapi: improve protocol documentation
  api/tbcapi/README.md
Labels: area: tbc

#359 bfgd: remove pubkey access
  api/bfgapi/bfgapi.go
  cmd/bfgd/bfgd.go
  database/bfgd/database.go
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0012.sql
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
Labels: type: refactor, area: bfg

#360 tbcd: move block header cache from items to size
  cmd/tbcd/tbcd.go
  database/tbcd/database.go
  database/tbcd/level/blockcache.go
  database/tbcd/level/cache_test.go
  database/tbcd/level/headercache.go
  database/tbcd/level/level.go
  go.mod
  go.sum
  service/tbc/tbc.go
  service/tbc/tbc_test.go
  service/tbc/tbcfork_test.go
Labels: area: tbc

#353 bfgd: simpler finality calculations with new table
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0013.sql
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
Labels: area: bfg

#367 fixed finality query
  api/bfgapi/bfgapi.go
  api/bssapi/bssapi.go
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0014.sql
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
  service/bss/bss.go
Labels: area: bfg, area: bss

#352 database/bfgd: re-enable tests, fix one
  database/bfgd/database_ext_test.go
Labels: area: bfg, area: hemictl

#322 op-conductor fixes + bootstrap script
  .github/workflows/localnet-test.yml
  e2e/docker-compose.yml
  e2e/entrypointl2.sh
  e2e/optimism-stack.Dockerfile
  e2e/setup-raft.bash
Labels: area: ci

#374 Depend on btc client (electrs) for canonical chain
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0015.sql
  e2e/e2e_ext_test.go
  service/bfg/bfg.go
Labels: area: bfg

#376 better error handling + sql update
  database/bfgd/postgres/postgres.go
  database/bfgd/scripts/0016.sql
  service/bfg/bfg.go
Labels: area: bfg

#375 tbcd: fix cache settings
  cmd/hemictl/hemictl.go
  cmd/tbcd/tbcd.go
  database/tbcd/level/blockcache.go
  database/tbcd/level/cache_test.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  service/tbc/tbc.go
Labels: type: bug, size: S, area: hemictl, area: tbc

#381 Fix typographical errors
  database/tbcd/database.go
  database/tbcd/level/level.go
  service/tbc/peermanager.go
  service/tbc/tbc.go
Labels: area: tbc

#382 tbc: check block does not exist prior to inserting into blocksmissing db
  database/tbcd/level/level.go
  service/tbc/tbc.go
Labels: type: enhancement, size: XS, area: tbc

#384 tbc: add UtxosByScriptHashCount
  database/tbcd/database.go
  database/tbcd/level/level.go
  service/tbc/tbc.go
Labels: type: enhancement, size: S, area: tbc

#366 hemictl: improve readme docs
  cmd/hemictl/README.md
Labels: area: hemictl

#386 all: fix various spelling errors
  config/config.go
  database/bfgd/scripts/0004.sql
  hemi/hemi.go
  service/bss/bss.go
  service/tbc/tbcfork_test.go
Labels: size: XS, area: bfg, area: bss, area: tbc

#383 Localnet Update
  .github/workflows/localnet-test.yml
  README.md
  e2e/docker-compose.yml
  e2e/entrypointl2.sh
  e2e/optimism-stack.Dockerfile
Labels: area: ci, area: tbc

#380 tbcd, bfgd: add various hemi specific indexes
  api/tbcapi/tbcapi.go
  cmd/tbcd/tbcd.go
  database/level/level.go
  database/tbcd/database.go
  database/tbcd/level/encodedecode_test.go
  database/tbcd/level/level.go
  database/tbcd/level/level_test.go
  e2e/e2e_ext_test.go
  hemi/hemi.go
  hemi/pop/pop.go
  service/bfg/bfg.go
  service/tbc/crawler.go
  service/tbc/rpc.go
  service/tbc/rpc_test.go
  service/tbc/tbc.go
  service/tbc/tbcfork_test.go
Labels: type: feature, size: XXL, area: bfg, area: tbc
