Repository hemilabs/heminetwork, pull requests merged in 2025-05, with the labels that each got.

#498 localnode: update op-geth to b0d955d
  e2e/optimism-stack.Dockerfile
  localnode/docker-compose.yml
  localnode/docker-compose_mainnet.yml
Labels: type: dependencies, area: localnode

#506 update localnet+localnode to latest op-geth commit
  e2e/optimism-stack.Dockerfile
  localnode/docker-compose.yml
  localnode/docker-compose_mainnet.yml
Labels: area: localnode

#510 Disregard keystones that are too far in the future
  cmd/bfgd/bfgd.go
  database/bfgd/database.go
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
  e2e/e2e_ext_test.go
  hemi/hemi.go
  localnode/docker-compose.yml
  localnode/docker-compose_mainnet.yml
  service/bfg/bfg.go
  service/bfg/bfg_test.go
Labels: area: bfg, area: localnode

#512 remove use of github.com/shirou/gopsutil@v3 in tbc
  database/tbcd/level/upgrade.go
  go.mod
  go.sum
Labels: area: tbc

#515 do not include invalid keystones in effectiveHeight
  database/bfgd/database_ext_test.go
  database/bfgd/postgres/postgres.go
Labels: area: bfg

#505 chore: fix function name in comment
  service/popm/popm_test.go
  service/tbc/rpc.go
Labels: area: popm, area: tbc

#522 docker: Add profile awareness to heminode tmux script
  localnode/NODE_RUNNING.md
  localnode/gen-files.sh
  localnode/heminode.sh
Labels: area: localnode
